@charset "UTF-8";
* {
  font-family: "Roboto" sans-serif;
}

body {
  padding-top: 50px;
}

header {
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #212121;
  z-index: 1;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin-top: 0;
  list-style-type: none;
}
.menu_link {
  color: #ffffff;
  font-style: 15px;
  font-weight: 300;
  text-decoration: none;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  min-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}
.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url(../img/uber_bg.png) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}
.promo_subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}
.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reasons {
  padding: 20px;
}

.container .label {
  display: block;
  margin: 20px auto 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 14px;
  border: none;
  background: black;
  color: #ffffff;
  font-size: 11px;
  text-transform: uppercase;
}
.container .title {
  text-align: center;
  margin: 32px 0 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
}

.reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 116px;
  height: 116px;
  background-color: #1eacc7;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px;
}

.reasons_block .blu {
  color: #1eacc7;
}
.reasons_block .text {
  font-weight: 300;
}

.mobile {
  min-height: 854px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile_bg.jpg") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../img/Карточка 1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/Карточка 2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/Карточка 3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/Карточка 4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/Карточка 5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/Карточка 6.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_item_plus::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_item_plus::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
}
.mobile_item_plus:hover::before, .mobile_item_plus:hover::after {
  background-color: #ff5656;
}

.container .label_white {
  margin-top: 0;
  background: white;
  color: black;
  text-align: center;
}

.kar {
  padding-top: 56px;
  background-color: #070716;
}

.auto {
  margin-top: 54px;
  max-width: 90%;
}

.car {
  margin-top: -210px;
  padding-top: 210px;
  padding-bottom: 138px;
  background: url("../img/Подложка.png") center center/cover no-repeat;
}

.align_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kar .title {
  text-align: center;
  margin: 27px 0 0;
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}
.kar .subtitle {
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  margin-top: 0;
  letter-spacing: 0.5px;
}
.kar .text_black {
  color: black;
  font-weight: 300;
}

.require {
  padding: 68px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nbm {
  margin-bottom: 0px;
}
.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 20px;
}
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}
.require_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -31px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/Rectang.png") center center/cover no-repeat;
}
.requirerequire_descr {
  color: #1eacc7;
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}
.require .warning .require_title {
  color: #ff5656;
}
.require .warning .require_list li:before {
  background: url("../icons/Layer.png") center center/cover no-repeat;
}

.world {
  background-color: #080816;
}
.world .fon {
  position: relative;
  min-height: 720px;
  padding: 48px 0 50px 0;
  background: url("../img/world_bg.png") center center/cover no-repeat;
}
.world .text_top {
  text-align: center;
  margin: 26px 0 0;
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}
.world .text_botom {
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  margin-top: 0;
  letter-spacing: 0.5px;
}
.world .live_container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
}
.world .live {
  color: #1FBAD6;
  text-decoration: none;
}
.world .live:hover {
  color: #38e1ff;
}

.footer {
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .social_icons {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 0 25px;
}

.social_icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #000;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot_2 {
  width: 40%;
  text-align: center;
}

.line {
  display: inline-block;
  margin: 14px 0 28px 0;
  text-align: center;
  width: 100%;
  height: 4px;
  background-color: #1eacc7;
}

.link, .link_2, .links {
  text-decoration: none;
}

.links {
  margin-bottom: 9px;
}

.link_2 {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-wrap: nowrap;
}
.link_2:not(:last-child) {
  margin-right: 23px;
}

.link {
  font-size: 15px;
  font-weight: 300;
  color: black;
}
.link:not(:last-child) {
  margin-right: 46px;
}

.social_ic {
  width: 94px;
  height: 27px;
}
.social_ic:not(:last-child) {
  margin-right: 6px;
}
.social_ic img {
  width: 100%;
  height: 100%;
}

.links_2 {
  color: #1eacc7;
  font-size: 11px;
  font-weight: 400;
}

.social_ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 52px 21px 0 0;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .reasons_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reasons .blu {
    width: 300px;
  }
  .reasons .text {
    width: 300px;
  }
  .mobile_item {
    width: 300px;
  }
  .link {
    font-size: 14px;
  }
  .foot_2 {
    width: 36%;
    margin: 0 2%;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .reasons_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons .icons {
    margin-right: 0px;
  }
  .reasons .blu {
    width: 300px;
    margin-top: 20px;
  }
  .reasons .text {
    width: 300px;
  }
  .mobile_item {
    width: 232px;
    height: 232px;
    padding-top: 66px;
  }
  .mobile_item_subtitle {
    font-size: 17px;
  }
  .link:not(:last-child) {
    margin-right: 23px;
  }
  .link {
    font-size: 12px;
  }
  .link_2:not(:last-child) {
    margin-right: 5px;
  }
  .link_2 {
    margin: 0 5px;
  }
  .social_ico {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 25px 21px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social_ic {
    margin-right: unset;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .promo_header {
    line-height: 45px;
  }
  .mobile_item {
    width: 300px;
    height: 256px;
  }
  .line {
    margin: 13px 0 13px 0;
  }
  .link:not(:last-child) {
    margin-right: 16px;
  }
}
@media (max-width: 575px) {
  body {
    padding-top: 30px;
  }
  nav {
    height: 30px;
  }
  .subheader {
    height: 60px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 16px;
  }
  .subheader_phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 6px;
  }
  .promo {
    min-height: 400px;
    padding: 115px 0 35px 0;
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo_subheader {
    font-size: 19px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
  }
  .menu {
    width: 85%;
  }
  .reasons {
    padding: 22px 0 36px 0;
  }
  .reasons .label {
    margin: 0 auto;
  }
  .reasons_block {
    margin-bottom: 0;
    margin-top: 24px;
  }
  .reasons .icons {
    min-width: 100px;
    width: 100px;
    height: 100px;
  }
  .reasons .blu {
    width: 100%;
    margin-top: 24px;
    font-size: 16px;
  }
  .reasons .title {
    font-size: 15px;
    margin: 15px 0 0;
    line-height: 16px;
  }
  .mobile {
    padding: 28px 0 13px 0;
  }
  .mobile .label {
    margin: 0 auto;
  }
  .mobile .title {
    margin: 14px 0 0 0;
  }
  .mobile .subtitle {
    margin-top: 9px;
  }
  .mobile_item {
    margin-bottom: 30px;
  }
  .kar {
    padding: 26px 0 30px 0;
  }
  .kar .title {
    display: none;
  }
  .kar > .container > .subtitle {
    display: none;
  }
  .kar .car {
    background: none;
    padding-bottom: 0;
  }
  .kar .auto {
    margin-top: 36px;
  }
  .kar .text_black {
    color: #fff;
    margin: 23px 0 0 0;
  }
  .require {
    padding: 22px 0 30px 0;
  }
  .require .label {
    margin: 0 auto;
  }
  .require .title {
    margin: 16px 0 0 0;
  }
  .require_block {
    margin: 30px 0 0 4px;
  }
  .require_title {
    font-size: 16px;
  }
  .require_list li {
    font-size: 14px;
    line-height: 16px;
  }
  .require_list li:last-child {
    margin-bottom: 0;
  }
  .require_list {
    margin: 0;
    padding-left: 31px;
  }
  .require_descr {
    margin-top: 15px;
    font-size: 14px;
    line-height: 16px;
    color: #1eacc7;
  }
  .world .fon {
    height: 360px;
    min-height: unset;
    padding: 26px 0 30px 0;
  }
  .world .text_top {
    font-size: 16px;
    margin: 14px 0 0 0;
    line-height: initial;
  }
  .world .text_botom {
    font-size: 14px;
    margin: 11px 0 0 0;
  }
  .world .live_container {
    font-size: 15px;
    bottom: 30px;
  }
  .footer {
    padding: 20px 18px 30px 18px;
    display: grid;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    grid-template-rows: repeat(3, auto);
  }
  .footer .social_icons {
    width: initial;
    padding: 16px 0 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .foot_2 {
    width: initial;
    grid-row: 1;
  }
  .footer .foot_2 .link:not(:last-child) {
    margin-right: 30px;
  }
  .footer .foot_2 .links {
    margin-bottom: 0;
  }
  .footer .foot_2 .line {
    max-width: 253px;
    padding: 0 0 0 0;
  }
  .footer .foot_2 .links.links_secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .foot_2 .link_2 {
    margin: 0 12px;
    line-height: 24px;
  }
  .footer .social_ico {
    padding-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */